[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
imap-tools = "*"
pymsteams = "*"
pyyaml = "*"
beautifulsoup4 = "*"
discord-webhook = "*"
requests = ">=2.32.0"
urllib3 = ">=2.2.2"
idna = ">=3.7"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.2"
